

<div class="tasks-container">
  <div class="content">
    <div class="content-grid">

      <div class="header">
        <div class="date">
          <span><b>{{dateService.date | async | moment:'D MMMM'}}</b></span>
          <span>{{ dateService.date | async | moment:'YYYY' }}</span>
        </div>
        
        <form class="new-task-form">
          <div class="new-task-wraper">
            <input 
              type="text" 
              name="new-task-input" 
              id="new-task-input" 
              placeholder="Что вы запланировали?" 
              name="task" 
              [(ngModel)]="newTaskValue"
            />
            <button 
              id="new-task-submit"  
              (click)="submitForm()"
            >
              {{submitButtonTitle}}
            </button>
          </div>
        </form>
      </div>

      <div class="task-list">
        <div class="task-title">
          <span><b>Заметки :</b></span>
        </div>

        <div class="tasks">
          <div id="inner-scroll">
            <div id="inner-flex">
              <div class="task" *ngFor="let task of tasks; let i = index">
                <div class="task-text">
                  <span>
                    {{task.title}}
                  </span>
                </div>
                <div class="task-buttons">
                  <button id="task-edit" (click)="editTask(task.title)">e</button>
                  <button id="task-delete" (click)="deleteTask(task.title)">x</button>
                </div>
              </div>
              <div *ngIf="tasks.length==0">
                <p class="noTasks">Заметок нет...</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>

