<div class="container">
    <div class="task-container">
        <app-tasks></app-tasks>
    </div>
    <div class="calendar-container">
        <div class="calendar-content">
            <div class="calendar-grid">
                <div class="calendar-header">
                    <app-selected-month></app-selected-month>
                    <div class="calendar-weeks">
                        <!-- <div>Monday</div>
                        <div>Tuesday</div>
                        <div>Wednesday</div>
                        <div>Thursday</div>
                        <div>Friday</div>
                        <div>Saturday</div>
                        <div>Sunday</div> -->
                        <div>Понедельник</div>
                        <div>Вторник</div>
                        <div>Среда</div>
                        <div>Четверг</div>
                        <div>Пятница</div>
                        <div>Суббота</div>
                        <div>Воскресенье</div>
                    </div>
                </div>
                <app-calendar></app-calendar>
            </div>
        </div>
    </div>
</div>



